<!-- Footer Start -->
        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white justify-content-center">Addresse<span></span></p>
                        <p class="section-title text-white justify-content-center">Avenue Cheick Anta Diop, Dakar, Sénégal</p>
                        <p class="section-title text-white justify-content-center">+221-77-672-00-18</p>
                        <p class="section-title text-white justify-content-center"></i>marcdamien04@gmail.com</p>
                        
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Liens rapides<span></span></p>
                        <a class="btn btn-link"href="#" class="nav-item nav-link active">ACCUEIL</a>
                        <a class="btn btn-link" href="#" class="nav-item nav-link">CATEGORIES</a>
                        <a class="btn btn-link" href="#" class="nav-item nav-link">PRODUITS</a>
                        <a class="btn btn-link" href="#" class="nav-item nav-link">ENTRÉES</a>
                        <a class="btn btn-link" href="#" class="nav-item nav-link">SORTIES</a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Gallerie<span></span></p>
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-fluid" src="{{asset('../site/img/portfolio-1.jpg')}}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{{asset('../site/img/portfolio-2.jpg')}}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{{asset('../site/img/portfolio-3.jpg')}}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{{asset('../site/img/portfolio-4.jpg')}}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{{asset('../site/img/portfolio-5.jpg')}}" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="{{asset('../site/img/portfolio-6.jpg')}}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                        <p class="section-title text-white justify-content-center">Ne ratez aucune de nos offres en vous abonnant à notre newsletter afin d'être informé en temps réel sur nos activités.</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Entrer Votre Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">App Stock</a>, All Right Reserved. 
							
							
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Forum</a>
                                <a href="">Cookies</a>
                                <a href="">Aide</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->