<!DOCTYPE html>

<html lang="en">
{% block head %}
    <head>
  	<title>{% block title %}APP STOCK {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{asset('../sidebar-02/css/style.css')}}">
  </head>
{% endblock %}
    <body>
    {% block sidebar %}
       <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
		  		<h1><a href="/accueil" class="logo">APP STOCK</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#produit" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">MENU</a>
	            <ul class="collapse list-unstyled" id="produit">
                <li>
                    <a href="{{path('produit_liste')}}">GESTION DES PRODUITS</a>
                </li>
                <li>
                    <a href="{{path('entree_liste')}}">GESTION DES ENTREES</a>
                </li>
                <li>
                    <a href="{{path('sortie_liste')}}">GESTION DES SORTIES</a>
                </li>
	            </ul>
	          </li>
	         
              
	          <li>
              <a href="/">DECONNEXION</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>
    {% endblock %}

    <div id="content" class="p-4 p-md-5 pt-5">

    <h2 class="mb-4">Bienvenu(e) sur App StocK</h2>

     {% block body%}

      {% endblock %}
        

    {% block js %}
        <script src="{{asset('../sidebar-02/js/jquery.min.js')}}"></script>
        <script src="{{asset('../sidebar-02/js/popper.js')}}"></script>
        <script src="{{asset('../sidebar-02/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('../sidebar-02/js/main.js')}}"></script>

    {% endblock %}
    </body>
</html>
